<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Beyond The Boundary - Prediction Form</title>
    <link rel="stylesheet" href="../static/css/form.css" />

    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico" />
  </head>
  <body>
    <div class="container">
      <h1><a href="{{ url_for('form') }}">Beyond The Boundary</a></h1>

      <form
        action="{{ url_for('recommend') }}"
        method="post"
        id="prediction-form"
      >
        <label for="player-name">
          <span class="label-text">Player Name</span>
          <input
            type="text"
            id="player-name"
            name="player_name"
            list="player-list"
            required
          />
          <datalist id="player-list">
            {% for player in player_names %}
            <option value="{{ player }}">{{ player }}</option>
            {% endfor %}
          </datalist>
        </label>
        <br /><br />
        <label for="opposition-team">
          <span class="label-text">Opposition Team</span>
          <input
            type="text"
            id="opposition-team"
            name="opposition_team"
            list="team-list"
            required
          />
          <datalist id="team-list">
            {% for team in opposition_teams %}
            <option value="{{ team }}">{% endfor %}</option>
          </datalist> </label
        ><br /><br />
        <button type="submit">Predict</button>
      </form>
    </div>
  </body>
</html>
